/*
 * Globals
 */
:root {
  --pensa-red: #BE1E2D;
  --pensa-blue: #232E65;
  --pensa-grey: #414042;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */


.cover-container {
  max-width: 42em;
}



/*
* About.html Numbers
*/
.large-bebas-neue {
  font-size: 200px;
  font-family: 'Bebas Neue', sans-serif;;
}

.pensa-red {
  color: var(--pensa-red);
}

.pensa-blue {
  color: var(--pensa-blue);
}

.pensa-grey {
  color: var(--pensa-grey);
}

footer {
  margin-top: 200px;
  padding-top: 10px;
  padding-bottom: 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  border-top: solid 2px var(--pensa-grey);
}


